.page{
	float:left;
}

.slider{
	width:200000px;
	margin-left:0px;
}

.kkbox{
	overflow:hidden;
}
.clear{
	clear:both;
}
.control-pre, .control-next{
	cursor:pointer;
	position: relative;
	width:49px;
	height:61px;
	float:left;
}

body{
    margin:0;
}
